<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="css/main.min.css">
    <title>Gulp template</title>
</head>
<body>
    
    <!--=include parts/sections/header.html -->

    <main>
        <img src="img/gulp-logo.svg" alt="" width="150" height="150">
        <p>Enjoy!</p>
    </main>

    <!--=include parts/sections/footer.html -->

    <script src="js/vendors.min.js"></script>
    <script src="js/script.min.js"></script>
</body>
</html>